.top-page{
    display: grid;
    grid-template-columns: auto  auto;
    background-color: white;
}
div#log, div#sign{
    float: right;
    padding-right: 15px;
    padding-top: 15px;
}
button#log, button#sign{
   font-size: 16px;
   background-color: rgb(255, 191, 72);
}
#title{
    text-align: center;
    font-family: 'Sigmar One', cursive;
    font-size: 60px;
    color: rgb(97, 97, 248);
}
.middle-page{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 20%;
    padding-top: 2%;
}
.middle-page-link{
    font-size: 18px;
    font-family: 'Sigmar One', cursive;
    color: rgb(255, 191, 72);
}
.middle-page-link:hover{
    background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgb(177, 178, 255));
  }
.picture{
    padding-top: 5%;
    text-align: center;
}
.paragraph{
    padding-top: 1.5%;
    padding-left: 10%;
    padding-right: 10%;
    margin-right: auto;
    margin-left: auto;
}
.paragraph>p{
    font-size: 25px;
    font-family: 'Sigmar One', cursive;
    text-align: center;
    background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgb(177, 178, 255));
}
.coaches-box{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto auto;
    padding-top: 15px;
}
.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-item p:hover{
    background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgb(177, 178, 255));
  }
  h2{
      text-align: center;
      font-family: 'Sigmar One', cursive;
      font-size: 40px;
      color: blue;
  }
  #buttom-page{
    background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgb(177, 178, 255));
  }
.contact-us{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto;
    padding-top: 50px;
}
.extra-grid{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto;
}
h5{
    color: blue;
}