.top-page{
    display: grid;
    grid-template-columns: auto  auto;
    background-color: white;
}
div.dropdown, div#sign{
    float: right;
    padding-right: 15px;
    padding-top: 15px;
}
 button#dropdown, button#sign{
   font-size: 16px;
   background-color: rgb(255, 191, 72);
}
#title{
    text-align: center;
    font-family: 'Sigmar One', cursive;
    font-size: 60px;
    color: rgb(97, 97, 248);
}
  h2{
      text-align: center;
      font-family: 'Sigmar One', cursive;
      font-size: 40px;
      color: blue;
  }
  #buttom-page{
    background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgb(177, 178, 255));
  }
.contact-us{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto;
    padding-top: 50px;
}
.extra-grid{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto;
}
h5{
    color: blue;
}